<h1> Notes </h1>
<% @notes.each do |notes| %>
  <h2><%= notes.title %></h2>
  <%= link_to 'Show Note', note_path(notes) %>
  <p><%= link_to 'New Note', new_note_path %></<p>
  <%= link_to 'Edit Note', edit_note_path(notes) %>
  <%= link_to 'Destroy Note', notes, method: :delete %>
<% end %>
